*

# Base files
!xrandr.sh
!.xmodmap
!.gitignore
!picom.conf
!README.md

# Entire Directories
!nvim/
!nvim/**/*
nvim/plugin/
!qtile/
!qtile/**/*
# Ignore any compiled progs. 
*.pyc

!awesome/
!awesome/**/*

!kitty
!kitty/**/*

!btop
!btop/**/*

!nitrogen/
!nitrogen/**/*

!pcmanfm
!pcmanfm/**/*


!ranger/*

# Targeted dirs/files
!autostart
!autostart/**/*

!dunst 
!dunst/**/*

# I dont need the lock. This is just so I know what I have used for things :) (dev http servers)
!yarn/global/package.json

!pcmanf/
!picom.conf/

!lf/
!lf/**
!leftwm/
!leftwm/**

# Marked for deprecation. -> Haskell libs are updated to often for a single
# prgram.
!xmobar/
!xmobar/**

!symlinked
!symlinked/**/*

!kmonad/
!kmonad/config.kbd

!tmux/
!tmux/**/*
# Remove all log files that may be have been added from wildcards.
*.log


# Override things that may have accidentally been included.
.idea/
__pycache__/
